@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');


/* fonts & colors 
Farbe: #323A45 / #848484
*/


/* ===============================
GENERALS
================================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Karla', sans-serif;
    margin: 5% 5%;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

#h2 {
    color: #323A45;
    display: flex;
    justify-content: space-between;
}

p {
    color: #848484;
}

/* ===============================
HEADER
================================== */

/* ===============================
MAIN
================================== */

/* +++++++++++++++++++++++ */

.large-img-container {
    display: grid;
    gap: 10px;
}

.head-n-price {
    display: flex;
    justify-content: space-between;
}

/* +++++++++++++++++++++++ */

/* +++++++++++++++++++++++ */

article {
    display: grid;
    grid-template-columns: 430px 430px 430;
    grid-template-rows: 9fr 0.5fr 0.5fr;
    grid-template-areas:
        "img1 img2 img3"
        "head1 head2 head3"
        "p1 p2 p3";
    background-color: red;
}



/* +++++++++++++++++++++++ */


/* ===box 1====== */

.box1-img {
    grid-area: img1;

}

article {
    grid-area: head1;
    background-color: rgb(47, 0, 255);
}

article p {
    grid-area: p1;
    background-color: yellow;
}

/* ===box 2====== */

.box2-img {
    grid-area: img2;
}

article {
    grid-area
}




/* ===box 3====== */

.box3-img {
    grid-area: img3;

}

/* ===box 4====== */
.box4-img {
    grid-area: img1;
}

/* ===box 5====== */
.box5-img {
    grid-area: img2;
}

/* ===box 6====== */
.box6-img {
    grid-area: img3;
}







/* ===============================
FOOTER
================================== */

/* ===============================
@media queries
================================== */